{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h3>coucou</h3>

    <a class="btn btn-primary" href="{{ path('app_fruit') }}">Aller à la page des fruits</a>
{% endblock %}
